@using MVC_App.Models.CardModels
@model IEnumerable<CardModel>
@{
    ViewData["Title"] = "Les Cartes";
}

<div class="text-center">
    <h2 class="display-4">@ViewData["Title"]</h2>
</div>
<div class="container">
    <div class="row">
        @foreach (var card in Model)
        {
            <div class="col-2 col-sm-3 col-lg-3">
                <div class="card m-2">
                    <div class="card-header">
                        <p class="card-title">
                            <a asp-action="Show" asp-route-id="@card.id" target="_blank">@card.name</a>
                        </p>
                    </div>
                    <div class="card-body">
                        <img class="img-fluid card-img" src="@card.card_images.First().image_url" alt="@card.name" width="120"/>
                    </div>
                    <div class="card-footer">
                        @if (card.type is "Spell Card" or "Trap Card")
                        {
                            <a asp-action="ShowRaceType" asp-route-race="@card.race" asp-route-type="@card.type"
                               target="_blank">@(card.race + " " + card.type)</a>
                        }
                        else
                        {
                            <a asp-action="ShowType" asp-route-type="@card.type"
                               target="_blank">@card.type</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>